.loaderWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  text-align: center;
  z-index: 5;
  transition: 0.2s;
  background-color: var(--lightGray);
  z-index: 1;
}

.loader {
    display: inline-block;
    position: relative;
    width: 25%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (max-width: 1200px){
    .loader {
      width: 50%;
    }
  }

  @media (max-width: 680px){
    .loader {
      width: 100%;
    }
  }