.worksWrapperMobile {
    width: 100%;
    display: block;
    cursor: pointer;
}
.work {
    display: flex;
    flex-direction: column;
}
.visuelWorkMobileWrapper {
    width: 100%;
    height: 210px;
    overflow: hidden;
}

.visuelWorkMobile {
    max-height: 280px;
    width: 100%;
    object-fit: cover;
}


.brandWork{
    text-align: left;
    text-transform: uppercase;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}
