.quoteGeneratorWrapper {
    width: 25%;
    text-align: right;
    margin-top: 50px;
    font-family: 'Westeinde';
}

.sentenceJp {
    color: var(--black);
    font-size: 12px;
    padding-bottom: 4px;
    font-family: 'NotoSans';
    writing-mode: tb-rl;
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;
}

.sentenceJp span{
    writing-mode: rl-tb;
    letter-spacing: normal;
}

.sentenceFr {
    font-size: 13px;
    font-family: 'Westeinde';
    writing-mode: tb-rl;
    width: 100%;
}


@media (max-width: 680px) {
    .quoteGeneratorWrapper{
      display: none;
    }
}